@model Otamimi.ViewModels.RequestViewModel
@{
    ViewData["Title"] = "Edit Misfund Request";
}
<br />
<br />
<br />
<div class="container">
    <form action="" method="post">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="MisFund">
                    <h3>Update Mis funds</h3>
                    @Html.HiddenFor(d=>d.misFunds.Id)
                    <div class="form-group">
                        @Html.Label("Depositor Name")
                        @Html.TextBoxFor(s => s.misFunds.DepositorName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("From Student Number")
                        @Html.TextBoxFor(s => s.misFunds.FromStudentNumber, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Source Account Number")
                        @Html.TextBoxFor(s =>s.misFunds.SourceAccountNumber, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("To Student Number")
                        @Html.TextBoxFor(s => s.misFunds.ToStudentNumber, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.Label("Amount")

                        @Html.TextBoxFor(s => s.misFunds.Amount, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.Label("Bank")
                        @*<select class="form-control">
                            <option value="MisFund">HBL</option>
                            <option value="refund">ABL</option>
                            <option value="refund">Habib Politon</option>
                        </select>*@
                        @Html.DropDownList("misFunds.Bank.Id", new SelectList(ViewBag.BanksList, "Id", "EnglishName",Model.misFunds.BankId), new { @class = "form-control" })
                        
                    </div>
                    <div class="form-group">
                        @Html.Label("Country")
                        @*<select class="form-control">
                            <option value="MisFund">Pakistan</option>
                            <option value="refund">USA</option>
                            <option value="refund">UK</option>
                        </select>*@
                        @Html.DropDownList("misFunds.Country.Id", new SelectList(ViewBag.CountryList, "Id", "Name",Model.misFunds.CountryId), new { @class = "form-control" })


                    </div>


                </div>                
                <div class="form-group">
                    @Html.Label("Transection Date")
                    @Html.TextBoxFor(s => s.misFunds.TransactionTime, new { @class = "form-control",@id="transDate"})
                </div>
                <div class="form-group">
                    <button type="submit" value="Send Reuquest" class="btn btn-primary">Update Reuquest</button>
                </div>
            </div>
        </div>

    </form>
</div>
<script type="text/javascript">
    $(function () {
        $("#transDate").datepicker()        
    })
</script>