@model Otamimi.ViewModels.RequestViewModel
@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<div class="container">
    <form action="/Applicant/CreateRequest" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    @Html.Label("Type")
                    <select class="form-control" id="requestType" name="RequestType">
                        <option value="MisFund">Mis funds</option>
                        <option value="refund">ReFunds</option>
                    </select>
                </div>
                <div class="MisFund">
                    <h3>Mis funds Details</h3>
                    <div class="form-group">
                        @Html.Label("Depositor Name")
                        @Html.TextBoxFor(s => s.misFunds.DepositorName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("From Student Number")
                        @Html.TextBoxFor(s => s.misFunds.FromStudentNumber, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Source Account Number")
                        @Html.TextBoxFor(s => s.misFunds.SourceAccountNumber, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("To Student Number")
                        @Html.TextBoxFor(s => s.misFunds.ToStudentNumber, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.Label("Amount")

                        @Html.TextBoxFor(s => s.misFunds.Amount, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.Label("Bank")
                        @*<select class="form-control">
                                <option value="MisFund">HBL</option>
                                <option value="refund">ABL</option>
                                <option value="refund">Habib Politon</option>
                            </select>*@
                        @Html.DropDownList("misFunds.Bank.Id", new SelectList(ViewBag.BanksList, "Id", "EnglishName"), new { @class = "form-control" })

                    </div>
                    
                    <div class="form-group">
                        @Html.Label("Country")
                        @*<select class="form-control">
                                <option value="MisFund">Pakistan</option>
                                <option value="refund">USA</option>
                                <option value="refund">UK</option>
                            </select>*@
                        @Html.DropDownList("misFunds.Country.Id", new SelectList(ViewBag.CountryList, "Id", "Name"), new { @class = "form-control" })
                    </div>


                </div>
                <div class="refund">
                    <h3>Refunds Details</h3>
                    <div class="form-group">
                        @Html.Label("IBAN")
                        @Html.TextBoxFor(s => s.refund.IBAN, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("To Account Holder FullName")
                        @Html.TextBoxFor(s => s.refund.ToAccountHolderFullName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Payrol")
                        @Html.TextBoxFor(s => s.refund.Payroll.Id, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Amount")

                        @Html.TextBoxFor(s => s.refund.Amount, new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.Label("Bank")
                        @*<select class="form-control">
                                <option value="MisFund">HBL</option>
                                <option value="refund">ABL</option>
                                <option value="refund">Habib Politon</option>
                            </select>*@
                        @Html.DropDownList("refund.Bank.Id", new SelectList(ViewBag.BanksList, "Id", "EnglishName"), new { @class = "form-control" })


                    </div>
                   
                    <div class="form-group">
                        @Html.Label("Country")
                        @*<select class="form-control">
                                <option value="MisFund">Pakistan</option>
                                <option value="refund">USA</option>
                                <option value="refund">UK</option>
                            </select>*@
                        @Html.DropDownList("refund.Country.Id", new SelectList(ViewBag.CountryList, "Id", "Name"), new { @class = "form-control" })


                    </div>


                </div>
                <div class="form-group">
                    @Html.Label("Transection Date")
                    @Html.TextBoxFor(s => s.refund.TransactionTime, new { @class = "form-control", @id = "transDate" })
                </div>
                <div class="form-group">
                    @Html.Label("Bank Receipt")
                    @*<select class="form-control">
                <option value="MisFund">HBL</option>
                <option value="refund">ABL</option>
                <option value="refund">Habib Politon</option>
            </select>*@
                    <input type="file" name="file" value="" />
                </div>
                <div class="form-group">
                    <button type="submit" value="Send Reuquest" class="btn btn-primary">Send Reuquest</button>
                </div>
            </div>
        </div>

    </form>
</div>
<script type="text/javascript">
    $(function () {
        $("#transDate").datepicker()
        $(".refund").hide();
        $("#requestType").change(function () {
            if ($(this).val() == "refund") {
                $(".MisFund").hide(); $(".refund").show();
            }
            else {
                $(".refund").hide(); $(".MisFund").show();
            }
        })
    })
</script>