@model List<Otamimi.ViewModels.UserViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="container">
    <div class="jumbotron">
        <h3>Admin Dashboard</h3>
    </div>
        <span class="pull-right">
            <a href="/Account/Register" class="btn btn-primary">New User</a>
        </span>
        <div style="clear:both"></div>
        <br />
    <div class="alert alert-success">
        <h2 class="text-primary">User List</h2>
    </div>
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Username </th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody style="height:300px;overflow:auto">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Username</td>
                        <td>@item.Email</td>
                        <td>@item.MobileNo</td>
                        <td>@item.Role</td>
                    </tr>
                }

            </tbody>
        </table>  

</div>

<script type="text/javascript">

    $(function () {

    })
</script>